:root {
  --dark-color: #272a31;
  --accent-color: #ec5242;
  --light-color: #d3d3d3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: lato, sans-serif;
  transition: 0.7s;
}

body {
  background-color: #d3d3d3;
  /* width: 100vw; */
  /* border: 1px solid black; */
}

header {
  /* padding: 1rem; */
  /* width: 100vw; */
}

.top-menu-bar,
.logo,
.close-btn {
  display: none;
}

#header-container {
  /* position: absolute; */
  /* top: 1rem; */
}

.mobile-menu-btn {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 11;
  position: fixed;
  background-color: var(--light-color);
  /* border: 1px solid black; */
  right: 0;
  left: 0;
  top: 0;
  filter: drop-shadow(1px 1px 20px);
}

.main-introduction {
  background-image: linear-gradient(
      to bottom,
      rgba(211, 211, 211, 0.5),
      rgba(211, 211, 211, 0.5)
    ),
    url(./images/background-images/wallpaperflare-cropped.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 4rem;
}

#main-container {
  margin-top: 80px;
}

.intro-greeting {
  color: var(--accent-color);
  padding: 1rem;
  padding-bottom: 0.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 100%;
}

.intro-heading {
  color: var(--accent-color);
  /* border: 1px solid black; */
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 95%;
  text-shadow: 2px 2px 2px var(--dark-color);
}

.intro-text {
  color: var(--dark-color);
  border: 2px solid #fff;
  padding: 1rem;
  text-align: start;
  vertical-align: center;
  width: 95%;
  margin: 0 auto;
  background-color: rgba(211, 211, 211, 0.7);
}

.intro-time {
  padding: 1rem;
  color: var(--dark-color);
  font-size: 1.7rem;
  font-weight: 900;
  line-height: 100%;
}

.intro-venue {
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--dark-color);
  line-height: 100%;
}

.main-program {
  background-color: var(--dark-color);
  color: #fff;
  padding: 1rem;
  background-image: radial-gradient(#272a31 15%, transparent 15%),
    linear-gradient(
      45deg,
      transparent 48%,
      rgb(14, 13, 13) 48%,
      rgb(14, 13, 13) 52%,
      transparent 52%
    ),
    linear-gradient(
      135deg,
      transparent 48%,
      rgb(14, 13, 13) 48%,
      rgb(14, 13, 13) 52%,
      transparent 52%
    );

  background-size: 15px 15px;
}

.main-program h2 {
  width: fit-content;
  /* border: 1px solid #fff; */
  margin: 0 auto;
  padding: 1rem;
  font-weight: 350;
}

.main-program hr {
  border: 1px solid rgba(236, 82, 66, 0.3);
  margin: auto;
  margin-bottom: 1.5rem;
  width: 10%;
}

.main-program ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-program ul li {
  /* display: flex; */
  background-color: rgba(211, 211, 211, 0.1);
}

.program-lineup {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.program-lineup span {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.program-lineup h3 {
  color: var(--accent-color);
  width: 25%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.program-lineup p {
  width: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.main-program-btn-container {
  width: 80%;
  height: 80px;
  margin: 1.3rem auto;
  /* border: 2px solid black; */
}
.main-program-btn-container button {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  font-size: 1rem;
  font-weight: 400;
}

.featured-speakers {
  background-color: #fff;
  padding-bottom: 2rem;
}

.featured-speakers h2 {
  color: var(--dark-color);
  text-align: center;
  /* border: 1px solid black; */
  /* width: fit-content; */
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 0.7rem;
  font-size: 1.5rem;
}

.featured-speakers-underline {
  border: 1px solid rgba(236, 82, 66, 0.3);
  margin: auto;
  width: 10%;
  margin-bottom: 2rem;
}

.speakers-list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.speakers-list li {
  display: flex;
  /* flex-direction: ; */
  /* border: 1px solid black; */
  /* background-color: yellow; */
}

.speaker-image-container {
  width: 35%;
  /* border: 1px solid black; */
}

.speaker-image-container img {
  width: 100%;
  height: 100%;
}

.speaker-details-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 0.625rem;
  /* border: 1px solid black; */
  padding: 1rem;
  /* background-color: yellow; */
}

.speaker-name {
  color: var(--dark-color);
  font-size: 1.4rem;
  font-weight: 900;
  /* border: 1px solid black; */
  line-height: 100%;
}
.speaker-profession {
  color: var(--accent-color);
  font-size: 0.725rem;
  font-style: italic;
  font-weight: 500;
  /* border: 1px solid black; */
  line-height: 100%;
}
.speaker-details {
  color: var(--dark-color);
  font-size: 0.625rem;
  font-weight: 500;
  /* border: 1px solid black; */
  line-height: 100%;
}
.speakers-list hr {
  border: 1px solid rgba(39, 42, 49, 0.5);
  margin: 0;
  width: 10%;
}

.featured-speakers-btn-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  border: none;
  /* height: 100%; */
  color: var(--dark-color);
  /* background-color: var(--accent-color); */
}

.featured-speakers-btn-container button img {
  align-self: center;
  justify-self: center;
  /* border: 1px solid black; */
}

.featured-speakers-btn-container {
  display: flex;
  height: 2.8rem;
  width: auto;
  /* margin: auto; */
  border: 2px solid var(--dark-color);
  margin-left: 1rem;
  margin-right: 1rem;
}

.partners {
  background-color: var(--dark-color);
}

.partners h2 {
  color: #fff;
  text-align: center;
  /* border: 1px solid black; */
  /* width: fit-content; */
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 0.7rem;
  font-size: 1.5rem;
}

.partners hr {
  border: 1px solid rgba(236, 82, 66, 0.3);
  margin: auto;
  width: 10%;
  margin-bottom: 3rem;
}

.partner-companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;
  column-gap: 1rem;
  padding-bottom: 3.2rem;
}

.partner-companies li {
  width: 30%;
  text-align: center;
  color: var(--light-color);
  font-size: 2rem;
  /* border: 1px solid white; */
}

.foot {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 2rem; */

  background-color: #fff;
  padding: 2rem;
}

.footer-logo {
  /* border: 1px solid black; */
  width: 50%;
}

.copyright {
  /* border: 1px solid black; */
  width: 50%;
  line-height: 100%;
  font-size: 0.825rem;
}

.menu-list-items {
  top: -1000px;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 1rem;
  gap: 32px;
  position: absolute;
  /* width: 100%; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  left: 1rem;
  right: 1rem;
  padding: 2rem;
}

.menu-list-items a {
  color: var(--dark-color);
  font-size: 2rem;
}

.toggle-mobile-menu {
  top: 70px;
}

.cc-campaign {
  border: 5px solid #ec5242;
  padding: 1rem;
}

.cc-campaign a {
  color: #ec5242;
}

.make-disappear {
  display: none;
}

.make-appear {
  display: block;
}

.new-main-program-btn-container {
  display: none;
}

.menu-list-items a:hover {
  color: #ec5242;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }

  #header-container {
    padding: 0;
  }

  .top-menu-bar {
    display: block;
  }

  .top-menu-list {
    background-color: #272a31;
    display: flex;
    justify-content: end;
    gap: 1.5rem;
    align-items: center;
    padding-right: 10%;
    padding-left: 10%;
  }

  .top-menu-list a {
    color: #fff;
    font-size: 0.825rem;
  }

  .logo {
    display: flex;
  }

  .menu-list-items {
    position: static;

    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 5rem;

    /* width: 100%; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* left: 1rem; */
    /* right: 1rem; */
    padding: 0;
  }

  nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    padding-left: 10%;
    padding-right: 10%;
    background-color: #fff;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 99;
    filter: drop-shadow(1px 1px 20px);
  }

  .menu-list-items a {
    font-size: 1rem;
  }

  .cc-campaign {
    padding: 0.5rem;
  }

  .main-introduction {
    background-image: linear-gradient(
        to bottom,
        rgba(211, 211, 211, 0.7),
        rgba(211, 211, 211, 0.7)
      ),
      url(./images/background-images/wallpaperflare.com_wallpaper.jpg);
    padding-top: 5%;
    /* padding-bottom: 10%; */
    min-height: 100vh;
  }

  .intro-greeting {
    color: var(--accent-color);
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;
    font-size: 3rem;
    font-weight: 300;
    line-height: 100%;
    /* border: 1px solid black; */
  }

  .intro-heading {
    /* color: var(--accent-color); */
    color: var(--accent-color);
    /* border: 1px solid black; */
    padding-left: 10%;
    padding-right: 10%;
    font-size: 5rem;
    font-weight: 900;
    line-height: 95%;
    /* background-image: initial; */
    /* background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    text-shadow: 2px 2px 2px var(--dark-color);
  }

  .intro-text {
    color: var(--dark-color);
    border: 2px solid #fff;
    padding: 1rem;
    text-align: start;
    vertical-align: center;
    width: 50%;
    /* margin: 0 auto; */
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(211, 211, 211, 0.7);
  }

  .intro-time {
    padding-left: 10%;
    padding-right: 10%;
    color: var(--dark-color);
    font-size: 2.6rem;
    font-weight: 800;
    line-height: 100%;
  }

  .intro-venue {
    padding-left: 10%;
    padding-right: 10%;
    color: var(--dark-color);
    line-height: 100%;
    font-size: 1.3rem;
  }

  .main-program {
    background-color: var(--dark-color);
    color: #fff;
    padding-left: 10%;
    padding-right: 10%;
    /* border: 1px solid white; */
  }

  .main-program hr {
    border: 1px solid rgba(236, 82, 66, 0.3);
    margin: auto;
    margin-bottom: 1.5rem;
    width: 3%;
  }

  .main-program ul {
    display: flex;
    flex-direction: row;
    gap: 0.188rem;
    /* border: 2px solid white; */
  }

  .program-lineup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: none;
    padding: 1rem;
  }

  .program-lineup h3 {
    color: var(--accent-color);
    width: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* border: 2px solid white; */
  }

  .main-program-btn-container {
    display: none;
  }

  .program-lineup p {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .main-program ul li {
    /* display: flex; */
    background-color: rgba(211, 211, 211, 0.1);
    width: 20%;
  }

  .main-program-see-more-btn {
    border-bottom: 2px solid var(--light-color);
    width: fit-content;
    margin: 2rem auto;
  }

  .main-program-see-more-link {
    color: var(--light-color);
  }

  .featured-speakers-btn-container {
    display: none;
  }

  .partners {
    min-height: 10rem;
  }

  .foot {
    min-height: 10rem;
    padding-left: 10%;
    padding-right: 10%;
  }

  .partners hr {
    width: 3%;
  }

  .partner-companies {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 4rem;
    padding-bottom: 3.2rem;
    /* border: 3px solid white; */
  }

  .partner-companies li {
    width: auto;
    text-align: center;
    color: var(--light-color);
    font-size: 2rem;
    margin-top: -37px;
    margin-bottom: auto;
    /* border: 1px solid white; */
  }

  .new-main-program-btn-container {
    display: block;
  }

  .speakers-list {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    /* border: 2px solid black; */
  }

  .speakers-list li {
    display: flex;
    width: 40%;
    /* border: 2px solid black; */
  }

  .speaker-image-container {
    width: 12.5rem;
    /* border: 1px solid black; */
    justify-self: center;
    align-self: center;
    height: 12.5rem;
  }

  .speaker-image-container img {
    width: 100%;
    height: 100%;
  }

  .featured-speakers-underline {
    border: 1px solid rgba(236, 82, 66, 0.3);
    margin: auto;
    width: 3%;
    margin-bottom: 2rem;
  }

  #main-container {
    margin-top: auto;
  }

  .menu-list-items li:hover {
    color: #ec5242;
  }

  .cc-campaign a:hover {
    color: #272a31;
  }
  .cc-campaign:hover {
    border-color: #d3d3d3;
  }

  .main-program li:hover {
    border: 1px solid #d3d3d3;
    height: 17.5rem;
  }
}
